@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background: hsl(233, 47%, 7%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
.container {
    
    position: relative;
    width: 80vw;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 18px;
    /* border:  2px solid pink; */
    
    
}
.img {
   position: relative;
    min-height: 100%;
    min-width: 100%;
    bottom: 0;
    /* background-color: hsl(244, 38%, 16%);; */
    background-image: url(./images/image-header-desktop.jpg) ;
    /* background-color: rgba(69, 0, 78, 1); */
    background-size: cover;
    /* opacity: 0.3; */
    /* object-fit: cover; */
    border-radius: 0 14px 14px 0;
    /* display: none; */
}
.img .layer {
    position: absolute;
    background-color: hsl(277, 64%, 61%);
    /* opacity: 1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode:multiply;
    border-radius: 0 14px 14px 0;
}
.text-content {
    display: grid;
    width: 40vw;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: hsl(244, 38%, 16%);
    text-align: center;
    padding-left: 70px;
    padding-right: 60px;
    border-radius: 14px 0 0 14px;
}
.text-content .heading {
    padding-top: 44px;
    font-size: 18px;
    text-align: left;
    font-family: 'Inter', sans-serif;
}
.main-text {
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    line-height: 1.8;
    padding-right: 50px;
    font-size: 14px;
    margin-top: 28px;
    color: hsla(0, 0%, 100%, 0.6);
     
    
}



.text-content .stats {
    display: flex;
    text-align: left;
    margin-top: 40px;
    padding-right: 82px;
    justify-content: space-between;
}
.text-content .stats  h4 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 26px;
}
.text-content .stats p {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.attribution {
    position: absolute;
    bottom: -40px;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  @media (max-width:600px) {
.container {
    position: relative;
    margin-top: 140px;
    min-height: 100vh;
    max-width: 432px;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:
    "photo1"
    "para";
    /* border: 2px solid black; */
}
.text-content {    
    grid-area: para;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 230px 130px 1fr;
    padding: 0;
    margin: 0;
    width: 100%;
    /* order: 0; */
    /* grid-column-start: 0;
    grid-row-start: 14;
    
    grid-column-end:1; */
    border-radius: 0 0 14px 14px;
    /* grid-row-end: ; */
}
.text-content .heading {
    text-align: center;
    font-size: 18px;
    padding: 58px 14px 0 14px;
}

  .img{
    grid-area: photo1;
    min-height: 200px;
    /* grid-column-start: 0;
    grid-column-end:1;
    grid-row-start: 1;
    grid-row-end: 14; */
    background-image: url(./images/image-header-mobile.jpg) ;
      /* top: -700px; */
      border-radius: 14px 14px 0 0;
      background-size: contain;
      margin: 0;
      /* background-repeat: no-repeat; */
      /* align-self: stretch; */
      background-size: cover;
     
  }
  .main-text {
      text-align: center;
      max-height: 40px;
      font-size: 16px;
      margin: 0;
      padding: 18px 4px 10px 4px;
  }
  .main-text div {
    height: 40px;
  }
  .stats {
      flex-direction: column;
      /* align-items: center; */
      /* justify-content: center; */
      /* text-align: center; */
  }
  .stats div {
      text-align: center;
      transform: translate(20%, -10% );
      padding-bottom: 18px;
  }
  h4 {
      font-size: 26px;
      padding-bottom: 6px;
  }
  
  }